/* You can add global styles to this file, and also import other style files */

.btn-custom-icon
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    cursor: pointer;

}
.btn-custom-icon:hover
{
    box-shadow: 0px 0px 150px #000000;
    background: #337ab7;
    color: #fff;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.custom-icon:hover
{
    box-shadow: 0px 0px 15px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: rgb(20, 20, 20);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  
  }
  
  #snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
@media screen and (max-width: 320px) and (min-width: 298px) {
  .mobTop10 {
        margin-top: 10px
  }
  }

  .top10{
    margin-top: 10px

  }


.custom-icon {
    border-radius: 50%;
    width: 86px;
    font-size: 46px;
    background:#337ab7;
    background:#f8f8f8;
    padding:15px;
    -webkit-border-radius:1100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    border:3px solid #337ab7;
    border-collapse:inherit;
    /* color:#337ab7;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46); */
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    height:60px;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
  }
  /* .custom-icon:hover {
    background:#337ab7;
    color:#fff;
    border:3px solid #fff;
  } */
  .custom-icon 
  {
      border-radius: 50%!important;
      width: 66px!important;
      font-size: 28px!important;
  }

  @media screen and (max-width: 600px) {
    .mobilePadding {
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    .mobileViewPadding {
      padding-left: 15px!important;
      padding-right: 15px!important;
    }
    .mobileViewMarginTop{
      margin-top: 11px!important;
    }
    .mobileViewMargin{
      margin-bottom: 15px!important;
      margin-top: 11px!important;
    }
  }

  .nopadding {padding: 0;}
@media (max-width: 600px) {
  .ConsolidationPanel {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.mobileViewPadding {
  padding: 0px;
}

@media screen and (max-width: 992px) {
  .group_btn {
      display: block!important;
     }
     .open>.action_submenu {
      display: block;
  }
  .action_submenu {
      left: -58px!important;
  }
         .action_btn
         {
             display: block!important;
         }
  }
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
  }
  .circleBtnMargin{
    margin-top: -5px;
  }

.custom-icon {
    border-radius: 50%;
    width: 86px;
    font-size: 46px;
    /* background:#337ab7; */
    background:#f8f8f8;
    padding:15px;
    -webkit-border-radius:1100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    /* border:3px solid #337ab7; */
    border-collapse:inherit;
    /* color:#337ab7; */
      /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46); */
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    height:60px;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
  }
  /* .custom-icon:hover {
    background:#337ab7;
    color:#fff;
    border:3px solid #fff;
  } */
  

  @media screen and (max-width: 750px) and (min-width: 300px)
  {
    .custom-icon 
    {
        border-radius: 50%!important;
        width: 66px!important;
        font-size: 28px!important;
    }
  }

  .fa-pencil,.fa-copyright,.glyphicon-picture,.fa-thumbs-up,.fa-thumbs-down,.fa-info,.fa-info-circle,.fa-times,
  .fa-check,.fa-link,.fa-close,.fa-plus,.fa-info-circle,.fa-undo,.fa-power-off,.fa-align-justify,.fa-car,.fa-check-circle,.fa-retweet
  {
      width: 25px!important;
height: 25px!important;
margin-right: 9px!important;
font-size: 18px;
  }

  